.section {
  padding: 5rem 0;

  .section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;
  }

  .section-desc {
    line-height: 1.5;
    font-size: 1.9rem;
    margin-bottom: 6rem;
    text-align: center;
  }

  &:nth-child(even) {
    background: var(--hover-color);  /* fallback for old browsers */
    color: var(--secondary-color);
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
 .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

